{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="content">
        <div class="receipe_left">
            Ingrédients pour {{ receipe.number }} Personnes :
            {% for ingredient in ingredients %}
                <div>
                    - {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.ingredient }}
                </div>
            {% endfor %}
        </div>
        <div class="receipe_right">
            {# dump(receipe) #}
            {{ receipe.preparationStep }}
        </div>
    </div>
{% endblock %}